force-app/main/default/flows/Terms_of_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Log_user_out</name>
        <label>Log user out</label>
        <locationX>308</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decision_UserConsented</name>
        <label>See if user consented</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Log_user_out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User did NOT consent</defaultConnectorLabel>
        <rules>
            <name>User_Consented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cmp_AuthFormDisplay.consent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User Consented</label>
        </rules>
    </decisions>
    <interviewLabel>Terms of Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terms of Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>screen_Terms_of_Service</name>
        <label>Terms of Service</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_UserConsented</targetReference>
        </connector>
        <fields>
            <name>cmp_AuthFormDisplay</name>
            <extensionName>c:authorizationFormDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dup</name>
                <value>
                    <elementReference>dataUsePurpose</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateOnConsentDecision</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_Terms_of_Service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dataUsePurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Terms of Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
