force-app/main/default/flows/Terms_of_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_LocateAuthFormConsent</name>
        <label>Locate AuthFormConsent</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <actionName>AuthFormConsentLocator_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>See_if_user_already_consented_to_form</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dataUsePurpose</name>
            <value>
                <elementReference>dataUsePurpose</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>individual</name>
            <value>
                <elementReference>action_LocateIndividual.record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_LocateIndividual</name>
        <label>Locate Individual</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>IndividualLocator_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_DidWeFindIndividual</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>createMissing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_WriteAuthFormConsent</name>
        <label>Write AuthFormConsent</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>AuthFormConsentWriter_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>action_WriteContactPointTypeConsent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>captureSource</name>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authformTextId</name>
            <value>
                <elementReference>lwc_FormTextDisplay.authformTextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>individual</name>
            <value>
                <elementReference>action_LocateIndividual.record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_WriteContactPointTypeConsent</name>
        <label>Write ContactPointTypeConsent</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <actionName>ContactPointTypeConsentWriter_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactPointType</name>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dataUsePurpose</name>
            <value>
                <elementReference>dataUsePurpose</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>individual</name>
            <value>
                <elementReference>action_LocateIndividual.record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>OptIn</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Force_User_Out</name>
        <label>Force logout user</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decision_DidWeFindIndividual</name>
        <label>Did we find Individual</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>action_LocateAuthFormConsent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found Individual</defaultConnectorLabel>
        <rules>
            <name>Did_Not_Find_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_LocateIndividual.record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_TermsOfService</targetReference>
            </connector>
            <label>Did NOT find Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>See_if_user_already_consented_to_form</name>
        <label>See if user already consented to form</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>screen_TermsOfService</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did NOT already consent to form</defaultConnectorLabel>
        <rules>
            <name>Did_consent_to_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_LocateAuthFormConsent.hasConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Did already consent to form</label>
        </rules>
    </decisions>
    <decisions>
        <name>See_if_user_consented</name>
        <label>See if user consented</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Force_User_Out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User did NOT consent</defaultConnectorLabel>
        <rules>
            <name>UserDidConsent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lwc_FormTextDisplay.consent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>action_WriteAuthFormConsent</targetReference>
            </connector>
            <label>User did consent</label>
        </rules>
    </decisions>
    <interviewLabel>Terms of Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terms of Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>screen_TermsOfService</name>
        <label>Terms of Service</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>See_if_user_consented</targetReference>
        </connector>
        <fields>
            <name>lwc_FormTextDisplay</name>
            <extensionName>c:authorizationFormDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dup</name>
                <value>
                    <elementReference>dataUsePurpose</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateOnConsentDecision</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>action_LocateIndividual</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dataUsePurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Terms of Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
